.programbox
{
	float: left;
	margin-left: 1ex;
	margin-right: 1ex;
	padding-bottom: 2ex;
}

.programbox-image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.programbox-text
{
	text-align: center;
}

.programboxh3
{
	clear: both;
}